.detail_container{
    margin: 5% 15% 0px;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
}
.detail_container img{
    width: 650px;
    height: auto;
    border-radius: 10px;
    margin: 20px;
}
.detail_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 30px;
    height: 650px;
}
.detail_text h3{
    color: white;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

}
.detail_text b{
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}
.detail_text p{
    color: white;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 15px;
    width: 60%;
    height: fit-content;
}
.category{
    font-size: 40px;
}
.description{
    font-size: 30px;
}