@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;700&family=Shrikhand&family=Sometype+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(45, 45, 45);
}


/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', serif;
font-family: 'Sometype Mono', monospace;
*/