.card_container{
    margin: 20px;
    height: 550px;
    width: 350px;
    background-color: #1e1e1e;
    border-radius: 5px;
    transition: 0.5s ease-out;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card_container:hover{
    transition: 0.5s;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}
.card_container img{
    width: 300px;
    height: auto;
    border-radius: 5px;
}
.card_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.card_text h3{
    color: white;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

}
.card_text b{
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}
.card_text p{
    color: white;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 15px;
}

.linkReact{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.linkReact:hover{
    color: #FFD335;
    transition: 0.4s;
}