.card_container{
    margin: 30px;
    height: fit-content;
    width: 350px;
    padding-top: 20px;
    background-color: transparent;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card_container img{
    width: 300px;
    height: auto;
    border-radius: 5px;
}
.card_text{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 25px;
}
.card_text h3{
    color: white;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 26px;
}
.card_text b{
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}
.card_text p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 15px;
}
.card_text h4{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #ffd335c2;
    margin-top: 5px;
}
.card_text button{
    padding: 10px;
    width: 150px;
    margin: 0;
    margin-top: 15px;
}

.linkReact{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    display: block;
    height: 30px;
    padding-top: 5px;
}
.linkReact:hover{
    color: #FFD335;
    transition: 0.4s;
}